In [ ]:
import pandas as pd
import numpy as np
import pickle
import os

In [ ]:
ubicacion = os.getcwd()
ubicacion

In [ ]:
archivo_txt = pd.read_csv( "archivo_txt.csv")
archivo_txt

In [ ]:
archivo_xml = pd.read_csv( "archivo_xml.csv")
archivo_xml

In [ ]:
data_remaning_kaggle = pd.read_csv( "data_remaning_kaggle.csv")
data_remaning_kaggle

In [ ]:
exported_db_data = pd.read_csv( "exported_db_data.csv")
exported_db_data

In [ ]:
archivo_txt.info()

In [ ]:
archivo_xml.info()

In [ ]:
data_remaning_kaggle.info()

In [ ]:
exported_db_data.info()

--------------------------------

In [ ]:
columnas_data_txt_clean = archivo_txt.columns
columnas_data_txt_clean

In [ ]:
columnas_archivo_xml_clean = archivo_xml.columns
columnas_archivo_xml_clean

In [ ]:
columnas_data_remaning_kaggle = data_remaning_kaggle.columns
columnas_data_remaning_kaggle

In [ ]:
columnas_exported_db_data = exported_db_data.columns
columnas_exported_db_data

-------------------------------------------

In [ ]:
#1
columnas_data_txt_clean = np.array (archivo_txt.columns)
columnas_data_txt_clean

In [ ]:
#2
columnas_archivo_xml_clean = np.array (archivo_xml.columns)
columnas_archivo_xml_clean

In [ ]:
#3
columnas_data_remaning_kaggle = np.array (data_remaning_kaggle.columns)
columnas_data_remaning_kaggle

In [ ]:
#4
columnas_exported_db_data = np.array (exported_db_data.columns)
columnas_exported_db_data

In [ ]:
#combinacion 1,2
np.intersect1d (columnas_data_txt_clean, columnas_archivo_xml_clean)

In [ ]:
#combinacion 1,3
np.intersect1d (columnas_data_txt_clean, columnas_data_remaning_kaggle)

In [ ]:
#combinacion 1,4
np.intersect1d (columnas_data_txt_clean, columnas_exported_db_data)

In [ ]:
#combinacion 2,3
np.intersect1d (columnas_archivo_xml_clean, columnas_data_remaning_kaggle)

In [ ]:
#combinacion 2,4
np.intersect1d (columnas_archivo_xml_clean, columnas_exported_db_data)

In [ ]:
np.intersect1d (columnas_data_remaning_kaggle, columnas_exported_db_data)

In [ ]:
# 1 archivo_xml
# 2 archivo_txt
# 3 data_remaning_kaggle
# 4 exported_db_data

In [ ]:
comb_1_2 = archivo_xml.merge(archivo_txt, how = 'inner', on = ['index','Unnamed: 0'])
#comb_1_2.head()
#comb_1_2.columns

In [ ]:
comb_1_2_3 = comb_1_2.merge(data_remaning_kaggle,how = 'inner', on = ['index','Unnamed: 0'])
#comb_1_2_3.head()
#comb_1_2_3.columns

In [ ]:
comb_1_2_3_4 = comb_1_2_3.merge(exported_db_data,how = 'inner', on = ['index'])
#comb_1_2_3_4.head()
#comb_1_2_3_4.columns

In [ ]:
archivo_total = comb_1_2_3_4.copy()

In [ ]:
archivo_total.to_csv("archivo_total.csv")

----------------------------------------------------------------------------------

* Trabajamos en el fichero

In [ ]:
archivo_trabajo_copia = archivo_total.copy()

In [ ]:
archivo_trabajo_copia.shape

In [ ]:
archivo_trabajo_copia.info(null_counts=True)

In [41]:
archivo_trabajo_copia.columns

Index(['Unnamed: 0', 'level_0', 'index', 'time', 'age', 'gender', 'Q3', 'Q4',
       'Q5', 'Q6',
       ...
       'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12',
       'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16',
       'Q10_OTHER'],
      dtype='object', length=261)

In [ ]:
archivo_trabajo_copia.isnull().sum()

In [42]:
archivo_trabajo_copia.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25973.0,12986.000000,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
level_0,25973.0,12986.000000,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
index,25973.0,12986.000000,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
time,25973.0,11054.664921,101471.622125,120.0,443.0,656.0,1038.0,2488653.0
Q30_B_Part_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_OTHER,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

.rename()
MiDataframe.rename(columns = {"nombre-antiguo": "nombre-nuevo"}, inplace = True)