In [ ]:
import pandas as pd
import numpy as np
import pickle
import os

In [ ]:
ubicacion = os.getcwd()
ubicacion

In [ ]:
archivo_txt = pd.read_csv( "archivo_txt.csv")
archivo_txt

In [ ]:
archivo_xml = pd.read_csv( "archivo_xml.csv")
archivo_xml

In [ ]:
data_remaning_kaggle = pd.read_csv( "data_remaning_kaggle.csv")
data_remaning_kaggle

In [ ]:
exported_db_data = pd.read_csv( "exported_db_data.csv")
exported_db_data

In [ ]:
archivo_txt.info()

In [ ]:
archivo_xml.info()

In [ ]:
data_remaning_kaggle.info()

In [ ]:
exported_db_data.info()

--------------------------------

In [46]:
columnas_data_txt_clean = archivo_txt.columns
columnas_data_txt_clean

Index(['Unnamed: 0', 'index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       'Q15', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41',
       'Q7', 'Q9', 'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')

In [47]:
columnas_archivo_xml_clean = archivo_xml.columns
columnas_archivo_xml_clean

Index(['Unnamed: 0', 'level_0', 'index', 'time', 'age', 'gender'], dtype='object')

In [48]:
columnas_data_remaning_kaggle = data_remaning_kaggle.columns
columnas_data_remaning_kaggle

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=214)

In [49]:
columnas_exported_db_data = exported_db_data.columns
columnas_exported_db_data

Index(['index', 'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4',
       'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9',
       'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13',
       'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object')

-------------------------------------------

In [ ]:
#1
columnas_data_txt_clean = np.array (archivo_txt.columns)
columnas_data_txt_clean

In [ ]:
#2
columnas_archivo_xml_clean = np.array (archivo_xml.columns)
columnas_archivo_xml_clean

In [ ]:
#3
columnas_data_remaning_kaggle = np.array (data_remaning_kaggle.columns)
columnas_data_remaning_kaggle

In [ ]:
#4
columnas_exported_db_data = np.array (exported_db_data.columns)
columnas_exported_db_data

In [ ]:
#combinacion 1,2
np.intersect1d (columnas_data_txt_clean, columnas_archivo_xml_clean)

In [ ]:
#combinacion 1,3
np.intersect1d (columnas_data_txt_clean, columnas_data_remaning_kaggle)

In [ ]:
#combinacion 1,4
np.intersect1d (columnas_data_txt_clean, columnas_exported_db_data)

In [ ]:
#combinacion 2,3
np.intersect1d (columnas_archivo_xml_clean, columnas_data_remaning_kaggle)

In [ ]:
#combinacion 2,4
np.intersect1d (columnas_archivo_xml_clean, columnas_exported_db_data)

In [ ]:
np.intersect1d (columnas_data_remaning_kaggle, columnas_exported_db_data)

In [ ]:
# 1 archivo_xml
# 2 archivo_txt
# 3 data_remaning_kaggle
# 4 exported_db_data

In [ ]:
comb_1_2 = archivo_xml.merge(archivo_txt, how = 'inner', on = ['index','Unnamed: 0'])
#comb_1_2.head()
#comb_1_2.columns

In [ ]:
comb_1_2_3 = comb_1_2.merge(data_remaning_kaggle,how = 'inner', on = ['index','Unnamed: 0'])
#comb_1_2_3.head()
#comb_1_2_3.columns

In [ ]:
comb_1_2_3_4 = comb_1_2_3.merge(exported_db_data,how = 'inner', on = ['index'])
#comb_1_2_3_4.head()
#comb_1_2_3_4.columns

In [ ]:
archivo_total = comb_1_2_3_4.copy()

In [ ]:
archivo_total.to_csv("archivo_total.csv")

----------------------------------------------------------------------------------

* Trabajamos en el fichero

In [ ]:
archivo_trabajo_copia = archivo_total.copy()

In [ ]:
archivo_trabajo_copia.shape

In [ ]:
archivo_trabajo_copia.info(null_counts=True)

In [ ]:
archivo_trabajo_copia.isnull().sum()

In [42]:
archivo_trabajo_copia.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,25973.0,12986.000000,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
level_0,25973.0,12986.000000,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
index,25973.0,12986.000000,7497.903607,0.0,6493.0,12986.0,19479.0,25972.0
time,25973.0,11054.664921,101471.622125,120.0,443.0,656.0,1038.0,2488653.0
Q30_B_Part_1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_6,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_Part_7,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q30_B_OTHER,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
archivo_trabajo_copia.columns

Index(['Unnamed: 0', 'level_0', 'index', 'time', 'age', 'gender', 'Q3', 'Q4',
       'Q5', 'Q6',
       ...
       'Q10_Part_8', 'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12',
       'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16',
       'Q10_OTHER'],
      dtype='object', length=261)

.rename()
MiDataframe.rename(columns = {"nombre-antiguo": "nombre-nuevo"}, inplace = True)

dfNuevo = DfViejo[['candidate_name', 'disbursement_amount','disbursement_date']].copy()

In [50]:
tabla_pequeña = archivo_trabajo_copia[['index','age', 'gender','Q3','Q4','Q5',"Q6","Q7","Q8","Q11","Q14","Q15","Q20","Q21","Q22","Q25","Q26","Q40_Part_1","Q40_Part_2","Q40_Part_3","Q40_Part_4","Q40_Part_5","Q40_Part_6","Q40_Part_7","Q40_Part_8","Q40_Part_9","Q40_Part_10","Q40_Part_11","Q40_OTHER","Q42_Part_1","Q42_Part_2","Q42_Part_3","Q42_Part_4","Q42_Part_5","Q42_Part_6","Q42_Part_7","Q42_Part_8","Q42_Part_9","Q42_Part_10","Q42_Part_11","Q42_OTHER"]].copy()
tabla_pequeña.head()

,index,age,gender,Q3,Q4,Q5,Q6,Q7,Q8,Q11,...,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q42_Part_6,Q42_Part_7,Q42_Part_8,Q42_Part_9,Q42_Part_10,Q42_Part_11,Q42_OTHER
0,0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,"Python, R",Python,A laptop,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,"SQL, C, C++, Java",Python,"A cloud computing platform (AWS, Azure, GCP, h...",...,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
2,2,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,"Python, C++, Java",Python,A laptop,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
3,3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,Python,"A cloud computing platform (AWS, Azure, GCP, h...",...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
4,4,45-49,Man,India,Doctoral degree,Other,< 1 years,"Python, C, MATLAB",Python,"A cloud computing platform (AWS, Azure, GCP, h...",...,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

In [51]:
tabla_pequeña.columns

Index(['index', 'age', 'gender', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q11',
       'Q14', 'Q15', 'Q20', 'Q21', 'Q22', 'Q25', 'Q26', 'Q40_Part_1',
       'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4', 'Q40_Part_5', 'Q40_Part_6',
       'Q40_Part_7', 'Q40_Part_8', 'Q40_Part_9', 'Q40_Part_10', 'Q40_Part_11',
       'Q40_OTHER', 'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4',
       'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8', 'Q42_Part_9',
       'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER'],
      dtype='object')

In [52]:
tabla_pequeña.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25973 entries, 0 to 25972
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        25973 non-null  int64
 1   age          25973 non-null  object
 2   gender       25973 non-null  object
 3   Q3           25973 non-null  object
 4   Q4           25973 non-null  object
 5   Q5           25973 non-null  object
 6   Q6           25973 non-null  object
 7   Q7           24941 non-null  object
 8   Q8           24940 non-null  object
 9   Q11          24720 non-null  object
 10  Q14          23970 non-null  object
 11  Q15          23754 non-null  object
 12  Q20          16325 non-null  object
 13  Q21          16251 non-null  object
 14  Q22          16126 non-null  object
 15  Q25          15391 non-null  object
 16  Q26          15183 non-null  object
 17  Q40_Part_1   9649 non-null   object
 18  Q40_Part_2   3028 non-null   object
 19  Q40_Part_3   8670 non-null   object
 20  Q40_Part_4   3996 non-null   object
 21  Q40_Part_5   1157 non-null   object
 22  Q40_Part_6   2803 non-null   object
 23  Q40_Part_7   6440 non-null   object
 24  Q40_Part_8   2693 non-null   object
 25  Q40_Part_9   1804 non-null   object
 26  Q40_Part_10  4882 non-null   object
 27  Q40_Part_11  1762 non-null   object
 28  Q40_OTHER    2081 non-null   object
 29  Q42_Part_1   3747 non-null   object
 30  Q42_Part_2   3441 non-null   object
 31  Q42_Part_3   2939 non-null   object
 32  Q42_Part_4   11373 non-null  object
 33  Q42_Part_5   2996 non-null   object
 34  Q42_Part_6   10401 non-null  object
 35  Q42_Part_7   2022 non-null   object
 36  Q42_Part_8   7977 non-null   object
 37  Q42_Part_9   3350 non-null   object
 38  Q42_Part_10  1995 non-null   object
 39  Q42_Part_11  1007 non-null   object
 40  Q42_OTHER    583 non-null    object
dtypes: int64(1), object(40)
memory usage: 8.3+ MB