In [3]:
import pandas as pd
import numpy as np
import pickle
import os

In [1]:
ubicacion = os.getcwd()
ubicacion

'/Users/silarivasdiez/Desktop/ADALAB/PROYECTO_MODULO_2 /project-da-promo-c-modulo-2-team-3/data'

In [6]:
archivo_txt = pd.read_csv( "archivo_txt.csv")
archivo_txt

,Unnamed: 0,index,Q3,Q4,Q5,Q6,Q8,Q11,Q13,Q15,...,Q41,Q7,Q9,Q12,Q14,Q16,Q17,Q24,Q32,Q34
0,0,0,India,Bachelor’s degree,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,...,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,Google Cloud TPUs,"Matplotlib ,Seaborn ,Ggplot / ggplot2 ,Shiny ...","Scikit-learn , TensorFlow ,Caret","Linear or Logistic Regression, Decision Trees ...",None of these activities are an important par...,PostgreSQL,None
1,1,1,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,...,"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook",None,Matplotlib,Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",Build and/or run the data infrastructure that...,NaN,NaN
2,2,2,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,...,"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",Other,Matplotlib,NaN,NaN,None of these activities are an important par...,"MySQL , MongoDB",None
3,3,3,Mexico,Doctoral degree,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,...,"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",NVIDIA GPUs,Matplotlib,"Scikit-learn , TensorFlow ,Keras","Dense Neural Networks (MLPs, etc), Convolutio...",Do research that advances the state of the ar...,NaN,NaN
4,4,4,India,Doctoral degree,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,...,"Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook",None,"Matplotlib ,Seaborn ,Ggplot / ggplot2","Scikit-learn ,PyTorch ,LightGBM","Linear or Logistic Regression, Decision Trees ...",Analyze and understand data to influence produ...,None,Microsoft Power BI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,25968,25968,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,A laptop,Never,1-2 years,...,"Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NVIDIA GPUs,"Matplotlib ,Seaborn","Scikit-learn , TensorFlow ,Keras ,PyTorch ,Xgb...","Linear or Logistic Regression, Gradient Boosti...",Analyze and understand data to influence produ...,"PostgreSQL , SQLite , MongoDB , Microsoft SQL...",Microsoft Power BI
25969,25969,25969,China,Master’s degree,Student,1-3 years,Python,A personal computer / desktop,More than 25 times,1-2 years,...,NaN,Python,PyCharm,None,None,PyTorch,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN
25970,25970,25970,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,NaN,...,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,NaN,None of these activities are an important par...,NaN,NaN
25971,25971,25971,United States of America,Master’s degree,Data Scientist,5-10 years,Python,A laptop,2-5 times,4-5 years,...,NaN,"Python, SQL","Notepad++,Jupyter Notebook",None,"Matplotlib ,Seaborn",Scikit-learn,"Linear or Logistic Regression, Decision Trees ...",NaN,NaN,NaN
25972,25972,25972,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,NaN,...,"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,Analyze and understand data to influence produ...,NaN,NaN

In [7]:
archivo_xml = pd.read_csv( "archivo_xml.csv")
archivo_xml

       Unnamed: 0  level_0  index  time    age gender
0               0        0      0   910  50-54    Man
1               1        1      1   784  50-54    Man
2               2        2      2   924  22-24    Man
3               3        3      3   575  45-49    Man
4               4        4      4   781  45-49    Man
...           ...      ...    ...   ...    ...    ...
25968       25968    25968  25968  1756  30-34    Man
25969       25969    25969  25969   253  22-24    Man
25970       25970    25970  25970   494  50-54    Man
25971       25971    25971  25971   277  45-49    Man
25972       25972    25972  25972   255  18-21    Man

[25973 rows x 6 columns]

In [8]:
data_remaning_kaggle = pd.read_csv( "data_remaning_kaggle.csv")
data_remaning_kaggle

,Unnamed: 0,index,Q18_Part_1,Q18_Part_2,Q18_Part_3,Q18_Part_4,Q18_Part_5,Q18_Part_6,Q18_OTHER,Q19_Part_1,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,0,0,"General purpose image/video tools (PIL, cv2, s...",NaN,NaN,NaN,NaN,NaN,NaN,"Word embeddings/vectors (GLoVe, fastText, word...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,"General purpose image/video tools (PIL, cv2, s...","Image segmentation methods (U-Net, Mask R-CNN,...","Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,25968,25968,"General purpose image/video tools (PIL, cv2, s...",NaN,"Object detection methods (YOLOv3, RetinaNet, etc)",Image classification and other general purpose...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25969,25969,25969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,25970,25970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25971,25971,25971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,25972,25972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [9]:
exported_db_data = pd.read_csv( "exported_db_data.csv")
exported_db_data

,index,Q10_Part_1,Q10_Part_2,Q10_Part_3,Q10_Part_4,Q10_Part_5,Q10_Part_6,Q10_Part_7,Q10_Part_8,Q10_Part_9,Q10_Part_10,Q10_Part_11,Q10_Part_12,Q10_Part_13,Q10_Part_14,Q10_Part_15,Q10_Part_16,Q10_OTHER
0,0,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Kaggle Notebooks,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Kaggle Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Datalab,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,25968,NaN,Colab Notebooks,NaN,NaN,NaN,NaN,NaN,Amazon Sagemaker Studio Notebooks,Amazon EMR Notebooks,NaN,NaN,Databricks Collaborative Notebooks,NaN,NaN,NaN,NaN,NaN
25969,25969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25970,25970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,25971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25972,25972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
archivo_txt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25973 non-null  int64
 1   index       25973 non-null  int64
 2   Q3          25973 non-null  object
 3   Q4          25973 non-null  object
 4   Q5          25973 non-null  object
 5   Q6          25973 non-null  object
 6   Q8          24940 non-null  object
 7   Q11         24720 non-null  object
 8   Q13         24403 non-null  object
 9   Q15         23754 non-null  object
 10  Q20         16325 non-null  object
 11  Q21         16251 non-null  object
 12  Q22         16126 non-null  object
 13  Q23         15952 non-null  object
 14  Q25         15391 non-null  object
 15  Q26         15183 non-null  object
 16  Q33         4656 non-null   object
 17  Q35         2237 non-null   object
 18  Q41         18489 non-null  object
 19  Q7          24941 non-null  object
 20  Q9          24934 non-null  object
 21  Q12         24582 non-null  object
 22  Q14         23970 non-null  object
 23  Q16         19624 non-null  object
 24  Q17         19315 non-null  object
 25  Q24         15635 non-null  object
 26  Q32         9484 non-null   object
 27  Q34         9399 non-null   object
dtypes: int64(2), object(26)
memory usage: 5.5+ MB

In [11]:
archivo_xml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25973 non-null  int64
 1   level_0     25973 non-null  int64
 2   index       25973 non-null  int64
 3   time        25973 non-null  int64
 4   age         25973 non-null  object
 5   gender      25973 non-null  object
dtypes: int64(4), object(2)
memory usage: 1.2+ MB

In [12]:
data_remaning_kaggle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Columns: 214 entries, Unnamed: 0 to Q38_B_OTHER
dtypes: float64(8), int64(2), object(204)
memory usage: 42.4+ MB

In [14]:
exported_db_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        25973 non-null  int64
 1   Q10_Part_1   9507 non-null   object
 2   Q10_Part_2   9792 non-null   object
 3   Q10_Part_3   1062 non-null   object
 4   Q10_Part_4   209 non-null    object
 5   Q10_Part_5   1770 non-null   object
 6   Q10_Part_6   175 non-null    object
 7   Q10_Part_7   1067 non-null   object
 8   Q10_Part_8   753 non-null    object
 9   Q10_Part_9   348 non-null    object
 10  Q10_Part_10  2051 non-null   object
 11  Q10_Part_11  1794 non-null   object
 12  Q10_Part_12  590 non-null    object
 13  Q10_Part_13  251 non-null    object
 14  Q10_Part_14  260 non-null    object
 15  Q10_Part_15  147 non-null    object
 16  Q10_Part_16  7174 non-null   object
 17  Q10_OTHER    737 non-null    object
dtypes: int64(1), object(17)
memory usage: 3.6+ MB

--------------------------------

In [18]:
columnas_data_txt_clean = archivo_txt.columns
columnas_data_txt_clean

Index(['Unnamed: 0', 'index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       'Q15', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35', 'Q41',
       'Q7', 'Q9', 'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype='object')

In [19]:
columnas_archivo_xml_clean = archivo_xml.columns
columnas_archivo_xml_clean

Index(['Unnamed: 0', 'level_0', 'index', 'time', 'age', 'gender'], dtype='object')

In [20]:
columnas_data_remaning_kaggle = data_remaning_kaggle.columns
columnas_data_remaning_kaggle

Index(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER', 'Q19_Part_1',
       ...
       'Q38_B_Part_3', 'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6',
       'Q38_B_Part_7', 'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10',
       'Q38_B_Part_11', 'Q38_B_OTHER'],
      dtype='object', length=214)

In [21]:
columnas_exported_db_data = exported_db_data.columns
columnas_exported_db_data

Index(['index', 'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4',
       'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8', 'Q10_Part_9',
       'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12', 'Q10_Part_13',
       'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16', 'Q10_OTHER'],
      dtype='object')

-------------------------------------------

In [25]:
#1
columnas_data_txt_clean = np.array (archivo_txt.columns)
columnas_data_txt_clean

array(['Unnamed: 0', 'index', 'Q3', 'Q4', 'Q5', 'Q6', 'Q8', 'Q11', 'Q13',
       'Q15', 'Q20', 'Q21', 'Q22', 'Q23', 'Q25', 'Q26', 'Q33', 'Q35',
       'Q41', 'Q7', 'Q9', 'Q12', 'Q14', 'Q16', 'Q17', 'Q24', 'Q32', 'Q34'],
      dtype=object)

In [26]:
#2
columnas_archivo_xml_clean = np.array (archivo_xml.columns)
columnas_archivo_xml_clean

array(['Unnamed: 0', 'level_0', 'index', 'time', 'age', 'gender'],
      dtype=object)

In [30]:
#3
columnas_data_remaning_kaggle = np.array (data_remaning_kaggle.columns)
columnas_data_remaning_kaggle

array(['Unnamed: 0', 'index', 'Q18_Part_1', 'Q18_Part_2', 'Q18_Part_3',
       'Q18_Part_4', 'Q18_Part_5', 'Q18_Part_6', 'Q18_OTHER',
       'Q19_Part_1', 'Q19_Part_2', 'Q19_Part_3', 'Q19_Part_4',
       'Q19_Part_5', 'Q19_OTHER', 'Q27_A_Part_1', 'Q27_A_Part_2',
       'Q27_A_Part_3', 'Q27_A_Part_4', 'Q27_A_Part_5', 'Q27_A_Part_6',
       'Q27_A_Part_7', 'Q27_A_Part_8', 'Q27_A_Part_9', 'Q27_A_Part_10',
       'Q27_A_Part_11', 'Q27_A_OTHER', 'Q28', 'Q29_A_Part_1',
       'Q29_A_Part_2', 'Q29_A_Part_3', 'Q29_A_Part_4', 'Q29_A_OTHER',
       'Q30_A_Part_1', 'Q30_A_Part_2', 'Q30_A_Part_3', 'Q30_A_Part_4',
       'Q30_A_Part_5', 'Q30_A_Part_6', 'Q30_A_Part_7', 'Q30_A_OTHER',
       'Q31_A_Part_1', 'Q31_A_Part_2', 'Q31_A_Part_3', 'Q31_A_Part_4',
       'Q31_A_Part_5', 'Q31_A_Part_6', 'Q31_A_Part_7', 'Q31_A_Part_8',
       'Q31_A_Part_9', 'Q31_A_OTHER', 'Q36_A_Part_1', 'Q36_A_Part_2',
       'Q36_A_Part_3', 'Q36_A_Part_4', 'Q36_A_Part_5', 'Q36_A_Part_6',
       'Q36_A_Part_7', 'Q36_A_OTHER', 'Q37_A_Part_1', 'Q37_A_Part_2',
       'Q37_A_Part_3', 'Q37_A_Part_4', 'Q37_A_Part_5', 'Q37_A_Part_6',
       'Q37_A_Part_7', 'Q37_A_OTHER', 'Q38_A_Part_1', 'Q38_A_Part_2',
       'Q38_A_Part_3', 'Q38_A_Part_4', 'Q38_A_Part_5', 'Q38_A_Part_6',
       'Q38_A_Part_7', 'Q38_A_Part_8', 'Q38_A_Part_9', 'Q38_A_Part_10',
       'Q38_A_Part_11', 'Q38_A_OTHER', 'Q39_Part_1', 'Q39_Part_2',
       'Q39_Part_3', 'Q39_Part_4', 'Q39_Part_5', 'Q39_Part_6',
       'Q39_Part_7', 'Q39_Part_8', 'Q39_Part_9', 'Q39_OTHER',
       'Q40_Part_1', 'Q40_Part_2', 'Q40_Part_3', 'Q40_Part_4',
       'Q40_Part_5', 'Q40_Part_6', 'Q40_Part_7', 'Q40_Part_8',
       'Q40_Part_9', 'Q40_Part_10', 'Q40_Part_11', 'Q40_OTHER',
       'Q42_Part_1', 'Q42_Part_2', 'Q42_Part_3', 'Q42_Part_4',
       'Q42_Part_5', 'Q42_Part_6', 'Q42_Part_7', 'Q42_Part_8',
       'Q42_Part_9', 'Q42_Part_10', 'Q42_Part_11', 'Q42_OTHER',
       'Q27_B_Part_1', 'Q27_B_Part_2', 'Q27_B_Part_3', 'Q27_B_Part_4',
       'Q27_B_Part_5', 'Q27_B_Part_6', 'Q27_B_Part_7', 'Q27_B_Part_8',
       'Q27_B_Part_9', 'Q27_B_Part_10', 'Q27_B_Part_11', 'Q27_B_OTHER',
       'Q29_B_Part_1', 'Q29_B_Part_2', 'Q29_B_Part_3', 'Q29_B_Part_4',
       'Q29_B_OTHER', 'Q30_B_Part_1', 'Q30_B_Part_2', 'Q30_B_Part_3',
       'Q30_B_Part_4', 'Q30_B_Part_5', 'Q30_B_Part_6', 'Q30_B_Part_7',
       'Q30_B_OTHER', 'Q31_B_Part_1', 'Q31_B_Part_2', 'Q31_B_Part_3',
       'Q31_B_Part_4', 'Q31_B_Part_5', 'Q31_B_Part_6', 'Q31_B_Part_7',
       'Q31_B_Part_8', 'Q31_B_Part_9', 'Q31_B_OTHER', 'Q32_B_Part_1',
       'Q32_B_Part_2', 'Q32_B_Part_3', 'Q32_B_Part_4', 'Q32_B_Part_5',
       'Q32_B_Part_6', 'Q32_B_Part_7', 'Q32_B_Part_8', 'Q32_B_Part_9',
       'Q32_B_Part_10', 'Q32_B_Part_11', 'Q32_B_Part_12', 'Q32_B_Part_13',
       'Q32_B_Part_14', 'Q32_B_Part_15', 'Q32_B_Part_16', 'Q32_B_Part_17',
       'Q32_B_Part_18', 'Q32_B_Part_19', 'Q32_B_Part_20', 'Q32_B_OTHER',
       'Q34_B_Part_1', 'Q34_B_Part_2', 'Q34_B_Part_3', 'Q34_B_Part_4',
       'Q34_B_Part_5', 'Q34_B_Part_6', 'Q34_B_Part_7', 'Q34_B_Part_8',
       'Q34_B_Part_9', 'Q34_B_Part_10', 'Q34_B_Part_11', 'Q34_B_Part_12',
       'Q34_B_Part_13', 'Q34_B_Part_14', 'Q34_B_Part_15', 'Q34_B_Part_16',
       'Q34_B_OTHER', 'Q36_B_Part_1', 'Q36_B_Part_2', 'Q36_B_Part_3',
       'Q36_B_Part_4', 'Q36_B_Part_5', 'Q36_B_Part_6', 'Q36_B_Part_7',
       'Q36_B_OTHER', 'Q37_B_Part_1', 'Q37_B_Part_2', 'Q37_B_Part_3',
       'Q37_B_Part_4', 'Q37_B_Part_5', 'Q37_B_Part_6', 'Q37_B_Part_7',
       'Q37_B_OTHER', 'Q38_B_Part_1', 'Q38_B_Part_2', 'Q38_B_Part_3',
       'Q38_B_Part_4', 'Q38_B_Part_5', 'Q38_B_Part_6', 'Q38_B_Part_7',
       'Q38_B_Part_8', 'Q38_B_Part_9', 'Q38_B_Part_10', 'Q38_B_Part_11',
       'Q38_B_OTHER'], dtype=object)

In [28]:
#4
columnas_exported_db_data = np.array (exported_db_data.columns)
columnas_exported_db_data

array(['index', 'Q10_Part_1', 'Q10_Part_2', 'Q10_Part_3', 'Q10_Part_4',
       'Q10_Part_5', 'Q10_Part_6', 'Q10_Part_7', 'Q10_Part_8',
       'Q10_Part_9', 'Q10_Part_10', 'Q10_Part_11', 'Q10_Part_12',
       'Q10_Part_13', 'Q10_Part_14', 'Q10_Part_15', 'Q10_Part_16',
       'Q10_OTHER'], dtype=object)

In [27]:
#combinacion 1,2
np.intersect1d (columnas_data_txt_clean, columnas_archivo_xml_clean)

array(['Unnamed: 0', 'index'], dtype=object)

In [31]:
#combinacion 1,3
np.intersect1d (columnas_data_txt_clean, columnas_data_remaning_kaggle)

array(['Unnamed: 0', 'index'], dtype=object)

In [29]:
#combinacion 1,4
np.intersect1d (columnas_data_txt_clean, columnas_exported_db_data)

array(['index'], dtype=object)

In [32]:
#combinacion 2,3
np.intersect1d (columnas_archivo_xml_clean, columnas_data_remaning_kaggle)

array(['Unnamed: 0', 'index'], dtype=object)

In [33]:
#combinacion 2,4
np.intersect1d (columnas_archivo_xml_clean, columnas_exported_db_data)

array(['index'], dtype=object)

In [34]:
np.intersect1d (columnas_data_remaning_kaggle, columnas_exported_db_data)

array(['index'], dtype=object)