In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
tabla_pequeña = pd.read_csv("tabla_pequeña.csv")
tabla_pequeña.head(5)

,Unnamed: 0,indices,edad,genero,pais,formacion_2,puesto_trabajo,años_programando,lenguajes_utilizados,lenguajes_recomendados,...,fuente_conocimiento_reddit,fuente_conocimiento_kaggle,fuente_conocimiento_course,fuente_conocimiento_youtube,fuente_conocimiento_podcast,fuente_conocimiento_blogs,fuente_conocimiento_journal_publicacions,fuente_conocimiento_slack_communities,fuente_conocimiento_none,fuente_conocimiento_otros
0,0,0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,"Python, R",Python,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...","Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
1,1,1,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,"SQL, C, C++, Java",Python,...,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
2,2,2,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,"Python, C++, Java",Python,...,NaN,"Kaggle (notebooks, forums, etc)",NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,Python,...,NaN,NaN,NaN,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",NaN,"Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN
4,4,4,45-49,Man,India,Doctoral degree,Other,< 1 years,"Python, C, MATLAB",Python,...,NaN,NaN,NaN,NaN,NaN,NaN,"Journal Publications (peer-reviewed journals, ...",NaN,NaN,NaN

In [12]:
tabla_pequeña.columns

Index(['Unnamed: 0', 'indices', 'edad', 'genero', 'pais', 'formacion_2',
       'puesto_trabajo', 'años_programando', 'lenguajes_utilizados',
       'lenguajes_recomendados', 'herramientas_uso', 'librerias_visualizacion',
       'años_usando_machine', 'sector_trabajo_actual', 'tamaño_empresa',
       'personas_dpt_data', 'salario_anual', 'inversion_dpt_machine_5años',
       'plataforma_coursera', 'plataforma_edx',
       'plataforma_kaggle_learn_courses', 'plataforma_data_camp',
       'plataforma_fast_ai', 'plataforma_udacity', 'plataforma_udemy',
       'plataforma_linkedin_learning',
       'plataforma_cloud_certification_programs',
       'plataforma_university_courses', 'plataforma_none', 'plataforma_otros',
       'fuente_conocimiento_twitter', 'fuente_conocimiento_email',
       'fuente_conocimiento_reddit', 'fuente_conocimiento_kaggle',
       'fuente_conocimiento_course', 'fuente_conocimiento_youtube',
       'fuente_conocimiento_podcast', 'fuente_conocimiento_blogs',
       'fuente_conocimiento_journal_publicacions',
       'fuente_conocimiento_slack_communities', 'fuente_conocimiento_none',
       'fuente_conocimiento_otros'],
      dtype='object')

Salario medio en función de: Experiencia/ genero/ pais/ sector (q25,q2, q1, q3,q6)

In [21]:
dfp1 = tabla_pequeña[["edad", "genero", "pais", "años_programando", "salario_anual"]]
dfp1.head(5)

    edad genero       pais años_programando  salario_anual
0  50-54    Man      India       5-10 years  25,000-29,999
1  50-54    Man  Indonesia        20+ years  60,000-69,999
2  22-24    Man   Pakistan        1-3 years         $0-999
3  45-49    Man     Mexico        20+ years  30,000-39,999
4  45-49    Man      India        < 1 years  30,000-39,999

In [43]:
plt.figure(figsize=(20,20))

fig = sns.barplot(x="salario_anual", y="genero", data=dfp1)

plt.show()

TypeError: Neither the `x` nor `y` variable appears to be numeric.

In [22]:
dfp1["salario_anual"].unique()

array(['25,000-29,999', '60,000-69,999', '$0-999', '30,000-39,999', nan,
       '15,000-19,999', '70,000-79,999', '2,000-2,999', '10,000-14,999',
       '5,000-7,499', '20,000-24,999', '1,000-1,999', '100,000-124,999',
       '7,500-9,999', '4,000-4,999', '40,000-49,999', '50,000-59,999',
       '3,000-3,999', '300,000-499,999', '200,000-249,999',
       '125,000-149,999', '250,000-299,999', '80,000-89,999',
       '90,000-99,999', '150,000-199,999', '>$1,000,000',
       '$500,000-999,999'], dtype=object)

In [25]:
dfp1["edad"].value_counts()

25-29    4931
18-21    4901
22-24    4694
30-34    3441
35-39    2504
40-44    1890
45-49    1375
50-54     964
55-59     592
60-69     553
70+       128
Name: edad, dtype: int64

In [23]:
dfp1["salario_anual"].value_counts()

$0-999              3369
1,000-1,999          969
10,000-14,999        950
30,000-39,999        741
100,000-124,999      725
5,000-7,499          699
50,000-59,999        697
40,000-49,999        688
20,000-24,999        587
2,000-2,999          575
15,000-19,999        573
7,500-9,999          552
60,000-69,999        551
25,000-29,999        470
70,000-79,999        464
4,000-4,999          456
150,000-199,999      392
80,000-89,999        391
3,000-3,999          380
125,000-149,999      379
90,000-99,999        350
200,000-249,999      177
300,000-499,999       91
250,000-299,999       75
>$1,000,000           58
$500,000-999,999      32
Name: salario_anual, dtype: int64

In [24]:
dfp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25973 entries, 0 to 25972
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   edad              25973 non-null  object
 1   genero            25973 non-null  object
 2   pais              25973 non-null  object
 3   años_programando  25973 non-null  object
 4   salario_anual     15391 non-null  object
dtypes: object(5)
memory usage: 1014.7+ KB